<app-client-sidebar></app-client-sidebar>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">{{ propertyId ? 'Mettre à jour la propriété' : 'Créer une propriété' }}</li>
        </ol>

        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Informations sur la Propriété</h2>
            </div>
            <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input id="description" formControlName="description" type="text" class="form-control" placeholder="Entrez la description">
                            <div *ngIf="propertyForm.get('description')?.invalid && propertyForm.get('description')?.touched" class="error">
                                La description est requise.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Pays</label>
                            <input id="country" formControlName="country" type="text" class="form-control" placeholder="Entrez le pays">
                            <div *ngIf="propertyForm.get('country')?.invalid && propertyForm.get('country')?.touched" class="error">
                                Le pays est requis.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ville</label>
                            <input id="city" formControlName="city" type="text" class="form-control" placeholder="Entrez la ville">
                            <div *ngIf="propertyForm.get('city')?.invalid && propertyForm.get('city')?.touched" class="error">
                                La ville est requise.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Type de Propriété</label>
                            <div class="styled-select">
                                <select id="propertyType" formControlName="propertyType" class="form-control">
                                    <option *ngFor="let type of propertyTypes" [value]="type">{{ type }}</option>
                                </select>
                                <div *ngIf="propertyForm.get('propertyType')?.invalid && propertyForm.get('propertyType')?.touched" class="error">
                                    Le type de propriété est requis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Status de la Propriété</label>
                            <div class="styled-select">
                                <select id="propertyStatus" formControlName="propertyStatus" class="form-control">
                                    <option *ngFor="let status of propertyStatuses" [value]="status">{{ status }}</option>
                                </select>
                                <div *ngIf="propertyForm.get('propertyStatus')?.invalid && propertyForm.get('propertyStatus')?.touched" class="error">
                                    Le statut de la propriété est requis.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre de Chambres</label>
                            <input type="number" id="numberOfRooms" formControlName="numberOfRooms" class="form-control">
                            <div *ngIf="propertyForm.get('numberOfRooms')?.invalid && propertyForm.get('numberOfRooms')?.touched" class="error">
                                Le nombre de chambres doit être au moins 1.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre de Personnes</label>
                            <input type="number" id="numberOfPersons" formControlName="numberOfPersons" class="form-control">
                            <div *ngIf="propertyForm.get('numberOfPersons')?.invalid && propertyForm.get('numberOfPersons')?.touched" class="error">
                                Le nombre de personnes doit être au moins 1.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Surface (en m²)</label>
                            <input type="number" id="surface" formControlName="surface" class="form-control">
                            <div *ngIf="propertyForm.get('surface')?.invalid && propertyForm.get('surface')?.touched" class="error">
                                La surface doit être d'au moins 1 m².
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Prix par Nuit (€)</label>
                            <input type="number" id="pricePerNight" formControlName="pricePerNight" class="form-control">
                            <div *ngIf="propertyForm.get('pricePerNight')?.invalid && propertyForm.get('pricePerNight')?.touched" class="error">
                                Le prix par nuit doit être au moins 0.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Télécharger des Images</label>
                            <input type="file" id="images" (change)="onFileChange($event)" accept="image/*" multiple class="form-control">
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Services</label>
                            <div *ngFor="let service of selectedPjServices">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" [value]="service.pjServiceId" (change)="onServiceChange($event, service)"
                                        [checked]="propertyForm.value.pjServices.includes(service.pjServiceId)">
                                    <label class="form-check-label">
                                        {{ service.title }} (Prix : {{ service.price }} $)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <button type="submit" class="btn_1 medium">{{ propertyId ? 'Mettre à jour la propriété' : 'Créer la propriété' }}</button>
            </form>
        </div>
        <!-- /box_general-->
    </div>
</div>