<div *ngIf="isReservationListRoute">
    <app-client-sidebar></app-client-sidebar>
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Tableau de board</a>
                </li>
                <li class="breadcrumb-item active">Réservations</li>
            </ol>
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <h2><i class="fa fa-money"></i> Réservations</h2>
                </div>
                
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <h2><i class="fa fa-filter"></i>{{isDashBoardRoute == false ? 'Filtrer les Réservations' : 'Filtrer
                        les
                        revenus
                        par date : '}}</h2>
                </div>
                <form (ngSubmit)="filterReservations()" class="form-inline">
                    <div class="form-group">
                        <label for="checkinDate">{{isDashBoardRoute == false ? 'Date d\'arrivée:' : 'Du : '}}</label>
                        <input type="date" id="checkinDate" [(ngModel)]="checkinDate" name="checkinDate"
                            class="form-control mx-sm-2">
                    </div>

                    <div class="form-group">
                        <label for="checkoutDate">{{isDashBoardRoute == false ? 'Date de départ:' : 'à : '}}</label>
                        <input type="date" id="checkoutDate" [(ngModel)]="checkoutDate" name="checkoutDate"
                            class="form-control mx-sm-2">
                    </div>

                    <div class="form-group" *ngIf="!isDashBoardRoute">
                        <label for="status">Statut:</label>
                        <select id="status" [(ngModel)]="status" name="status" class="form-control mx-sm-2">
                            <option *ngFor="let status of ReservationStatusEnum | keyvalue" [value]="status.value">{{
                                status.value
                                }}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Filtrer</button>
                    <button type="button" (click)="clearFilter()" class="btn btn-secondary mx-sm-2">Effacer les
                        filtres</button>
                </form>
            </div>
            <app-spinner *ngIf="loading"></app-spinner>
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
            </div>
            <!-- Total Income Card -->
            <div *ngIf="isDashBoardRoute && reservations.length > 0" class="card text-white bg-success mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title"><i class="fa fa-money"></i> Total des Revenus</h4>
                            <p class="card-text" style="font-size: 1.5em; font-weight: bold;">{{ getTotalIncome() }} €
                            </p>
                        </div>
                        <div>
                            <i class="fa fa-bar-chart fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table *ngIf="!loading && !errorMessage && reservations.length > 0" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date d'arrivée</th>
                            <th>Date de départ</th>
                            <th>Statut</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reservation of reservations">
                            <td>{{ reservation.checkinDate }}</td>
                            <td>{{ reservation.checkoutDate }}</td>
                            <td>{{ reservation.status }}</td>
                            <td>{{ reservation.price }}€</td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="!loading && !errorMessage && reservations.length === 0" class="alert alert-warning">
                    Aucune réservation trouvée.
                </div>
            </div>
        </div>

        </div>

    </div>
</div>
<div *ngIf="!isReservationListRoute">
    <div class="box_general padding_bottom">
        <div class="header_box version_2">
            <h2><i class="fa fa-filter"></i>{{isDashBoardRoute == false ? 'Filtrer les Réservations' : 'Filtrer les
                revenus
                par date : '}}</h2>
        </div>
        <form (ngSubmit)="filterReservations()" class="form-inline">
            <div class="form-group">
                <label for="checkinDate">{{isDashBoardRoute == false ? 'Date d\'arrivée:' : 'Du : '}}</label>
                <input type="date" id="checkinDate" [(ngModel)]="checkinDate" name="checkinDate"
                    class="form-control mx-sm-2">
            </div>

            <div class="form-group">
                <label for="checkoutDate">{{isDashBoardRoute == false ? 'Date de départ:' : 'à : '}}</label>
                <input type="date" id="checkoutDate" [(ngModel)]="checkoutDate" name="checkoutDate"
                    class="form-control mx-sm-2">
            </div>

            <div class="form-group" *ngIf="!isDashBoardRoute">
                <label for="status">Statut:</label>
                <select id="status" [(ngModel)]="status" name="status" class="form-control mx-sm-2">
                    <option *ngFor="let status of ReservationStatusEnum | keyvalue" [value]="status.value">{{
                        status.value
                        }}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Filtrer</button>
            <button type="button" (click)="clearFilter()" class="btn btn-secondary mx-sm-2">Effacer les
                filtres</button>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <!-- Total Income Card -->
    <div *ngIf="isDashBoardRoute" class="card text-white bg-success mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="card-title"><i class="fa fa-money"></i> Total des Revenus</h4>
                    <p class="card-text" style="font-size: 1.5em; font-weight: bold;">{{ getTotalIncome() }} €</p>
                </div>
                <div>
                    <i class="fa fa-bar-chart fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table *ngIf="!loading && !errorMessage && reservations.length > 0" class="table table-bordered">
            <thead>
                <tr>
                    <th>Date d'arrivée</th>
                    <th>Date de départ</th>
                    <th>Statut</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations">
                    <td>{{ reservation.checkinDate }}</td>
                    <td>{{ reservation.checkoutDate }}</td>
                    <td>{{ reservation.status }}</td>
                    <td>{{ reservation.price }}€</td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="!loading && !errorMessage && reservations.length === 0" class="alert alert-warning">
            Aucune réservation trouvée.
        </div>
    </div>
</div>