/* table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input,
select {
    margin-right: 20px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
} */
.service-item {
    margin-bottom: 15px;
}

.table-responsive {
    margin-top: 20px;
}

.table th, .table td {
    text-align: left;
}

.dropdown-menu {
    /* Remove display: none */
    max-height: 200px;
    overflow-y: auto;
    will-change: transform;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item input {
    margin-right: 10px;
}


