<div class="table-responsive">
    <table *ngIf="pjServices.length > 0" class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pjService of pjServices">
                <td>{{ pjService.title }}</td>
                <td>{{ pjService.description }}</td>
                <td>{{ pjService.price }}€</td>
                <td>{{ pjService.pjServiceType }}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="pjServices.length === 0" class="alert alert-warning">
        Aucun service trouvé.
    </div>
</div>