<button mat-raised-button color="primary" (click)="goToAddPropertyForm()">
    Ajouter une Propriété
</button>

<div class="filter-section">
    <label for="startDate">Date de début:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate">

    <label for="endDate">Date de fin:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate">

    <button mat-raised-button color="primary" (click)="fetchOccupiedProperties()">Propriétés Occupées</button>
    <button mat-raised-button color="primary" (click)="fetchAvailableProperties()">Propriétés Disponibles</button>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!loading && !error">
    <div *ngIf="properties.length > 0">
        <div *ngFor="let property of properties">
            <app-property-single [propertyData]="property"></app-property-single>
        </div>
    </div>
    <div *ngIf="properties.length === 0">
        <p>Aucune propriété disponible pour le moment.</p>
    </div>
</div>

<div *ngIf="error" class="error-container">
    <p>Une erreur s'est produite lors de la récupération des propriétés. Veuillez réessayer plus tard.</p>
    <button mat-raised-button color="primary" (click)="retryFetchingProperties()">Réessayer</button>
</div>