.empty-cart-message {
    padding: 50px 0;
    text-align: center;
}

.empty-cart-message h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.empty-cart-message p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.empty-cart-message .btn_1 {
    font-size: 16px;
    padding: 10px 20px;
}
