<app-client-sidebar></app-client-sidebar>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Tableau de board</a>
            </li>
            <li class="breadcrumb-item active">Intervention pour les {{ serviceType === 'property' ? 'Propriétés' : 'Réservations' }}</li>
        </ol>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-filter"></i>Filtre : </h2>
            </div>
            <form (ngSubmit)="fetchInvoices()" class="form-inline">
                <div class="form-group">
                    <label for="startDate">Du : </label>
                    <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate"
                        class="form-control mx-sm-2">
                </div>

                <div class="form-group">
                    <label for="endDate">à : </label>
                    <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" class="form-control mx-sm-2">
                </div>

                <div class="form-group">
                    <label for="status">Statut:</label>
                    <select id="status" [(ngModel)]="status" name="status" class="form-control mx-sm-2">
                        <option *ngFor="let status of ProviderInvoiceStatusEnum | keyvalue" [value]="status.value">{{
                            status.value
                            }}</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Filtrer</button>
                <button type="button" (click)="clearFilter()" class="btn btn-secondary mx-sm-2">Effacer les filtres</button>
            </form>
        </div>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-money"></i>Intervention pour les {{ serviceType === 'property' ? 'Propriétés' : 'Réservations' }}</h2>
            </div>

            <app-spinner *ngIf="loading"></app-spinner>

            <div *ngIf="!loading && !error">
                <table *ngIf="providerInvoices.length > 0" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let providerInvoice of providerInvoices">
                            <td>{{ providerInvoice.providerInvoiceId }}</td>
                            <td>{{ providerInvoice.date }}</td>
                            <td>{{ providerInvoice.status }}</td>
                            <td>{{ providerInvoice.gain }}€</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="providerInvoices.length === 0">
                    <p class="alert alert-warning">Aucune données disponible pour le moment.</p>
                </div>
            </div>
        </div>
    </div>
</div>