<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
    <a class="navbar-brand" style="margin-left: 20px;" href=""><img src="assets/images/logo.png" alt="" width="165" height="36"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/client/dashboard">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Tableau de bord</span>
                </a>
            </li>
           <!-- Show only if the client is subscribed -->
           <li *ngIf="subscription?.isClientSubscribed" class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing">
            <a class="nav-link" href="/client/property/add">
                <i class="fa fa-fw fa-plus-circle"></i>
                <span class="nav-link-text">Ajouter une propriété</span>
            </a>
        </li>

        <li *ngIf="subscription?.isClientSubscribed" class="nav-item" data-toggle="tooltip" data-placement="right" title="Mes propriétés">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMylistings">
                <i class="fa fa-fw fa-list"></i>
                <span class="nav-link-text">Liste des propriétés</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseMylistings">
                <li>
                    <a href="/client/properties?publish=true">
                        <i class="fa fa-fw fa-check-circle text-success"></i> Publiées
                        <span class="badge badge-pill badge-success"></span>
                    </a>
                </li>
                <li>
                    <a href="/client/properties?publish=false">
                        <i class="fa fa-fw fa-times-circle text-primary"></i> Non publiées
                        <span class="badge badge-pill badge-primary"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li *ngIf="subscription?.isClientSubscribed" class="nav-item" data-toggle="tooltip" data-placement="right" title="Réservations">
            <a class="nav-link" href="/client/reservations">
                <i class="fa fa-fw fa-calendar-check-o"></i>
                <span class="nav-link-text">Réservations</span>
            </a>
        </li>

        <li *ngIf="subscription?.isClientSubscribed" class="nav-item" data-toggle="tooltip" data-placement="right" title="Mon Profil">
            <a class="nav-link" href="/client/providerInvoices/properties">
                <i class="fa fa-fw fa-list"></i>
                <span class="nav-link-text">Liste des interventions</span>
            </a>
        </li>

        <li *ngIf="subscription?.isClientSubscribed" class="nav-item" data-toggle="tooltip" data-placement="right" title="Mon Profil">
            <a class="nav-link" href="/client/PjServices">
                <i class="fa fa-fw fa-user"></i>
                <span class="nav-link-text">Services de PJ</span>
            </a>
        </li>

        <!-- <li  class="nav-item" data-toggle="tooltip" data-placement="right" title="Mon Profil">
            <a class="nav-link" href="/client/user-profile">
                <i class="fa fa-fw fa-user"></i>
                <span class="nav-link-text">Mon Profil</span>
            </a>
        </li> -->

        <!-- Message when the client is not subscribed -->
        <li *ngIf="subscription != null && !subscription?.isClientSubscribed" class="nav-item">
            <div class="nav-link text-danger">
                Vous devez être abonné pour ajouter des propriétés.
            </div>
        </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="bar-foq navbar-nav ml-auto" >

            <li class="nav-item cardy">
                <img style="height: 25px;"  (click)="navigateToCart()"   src="/assets/img/9073722_cart_icon.png" alt="">
             </li>

            <li class="nav-item ">
                <a class="nav-link dropdown-toggle sybs" id="subscriptionDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Subscription Status
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="subscriptionDropdown">
                  <ng-container *ngIf="subscription">
                    <h6 class="dropdown-header">Subscription Details:</h6>
                    <div class="dropdown-item" [ngClass]="{'text-success': subscription.isClientSubscribed, 'text-danger': !subscription.isClientSubscribed}">
                      <strong>Status: </strong> {{ subscription.isClientSubscribed ? 'Active' : 'Inactive' }}
                    </div>
                    <div class="dropdown-item" *ngIf="subscription.isClientSubscribed">
                      <strong>Start Date:</strong> {{ subscription.subsDate | date:'yyyy-MM-dd' }}
                    </div>
                    <div class="dropdown-item" *ngIf="subscription.isClientSubscribed">
                      <strong>End Date: </strong> {{ subscription.endSubsDate | date:'yyyy-MM-dd' }}
                    </div>
                    <div class="dropdown-divider" *ngIf="!subscription.isClientSubscribed"></div>
                    <a class="dropdown-item text-center text-primary" style="cursor: pointer;" *ngIf="!subscription.isClientSubscribed" (click)="subscribeNow()">Subscribe Now</a>
                </ng-container>
                  <ng-container *ngIf="!subscription">
                    <div class="dropdown-item text-danger">
                      Error loading subscription details.
                    </div>
                  </ng-container>
                </div>
              </li>
              
            

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à terminer votre session
                actuelle.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" (click)="logout()">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
<div style="height: 65px;"></div>
