.custom-snack-bar-container {
    display: flex;
    align-items: center;
    color: white;

    mat-icon {
        margin-right: 12px;
        font-size: 28px;
    }

    &.green {
        background-color: #4caf50;
    }

    &.red {
        background-color: #f44336;
    }

    &.blue {
        background-color: #2196f3;
    }

    // Add other color classes as needed
}