<app-client-sidebar></app-client-sidebar>
<app-spinner *ngIf="!propertyFetched"></app-spinner>
<div *ngIf="propertyFetched" class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">Détails de la Propriété</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="box_general padding_bottom">
                    <div class="property-carousel">
                        <div class="carousel-wrapper">
                            <button class="carousel-control prev" (click)="prevImage()">&#10094;</button>
                            <img [src]="propertyData.propertyImages[currentIndex]" alt="Property Image" class="carousel-image img-fluid">
                            <button class="carousel-control next" (click)="nextImage()">&#10095;</button>
                        </div>
                    </div>
                    <div class="property-details">
                        <h2 class="property-title">{{ propertyData.city }}, {{ propertyData.country }}</h2>
                        <span class="property-status" [ngClass]="{
                            'badge-success': propertyData.propertyStatus === 'Propre',
                            'badge-warning': propertyData.propertyStatus === 'Sale'
                        }">
                            {{ propertyData.propertyStatus }}
                        </span>
                        <ul class="property-info list-unstyled">
                            <li><strong>Type de Propriété:</strong> {{ propertyData.propertyType }}</li>
                            <li><strong>Nombre de Chambres:</strong> {{ propertyData.numberOfRooms }} chambres</li>
                            <li><strong>Surface:</strong> {{ propertyData.surface }} m²</li>
                            <li><strong>Prix par Nuit:</strong> {{ propertyData.pricePerNight }}€</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-calendar"></i>Réservations</h2>
            </div>
            <app-reservation-list [propertyId]="propertyData.propertyId"></app-reservation-list>
        </div>
    </div>
</div>